
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<!-- contactus start here -->
<div class="contactus">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 commontop text-center">
				<h4>
					<i class="icon_star_alt"></i>
					<i class="icon_star_alt"></i>
					<i class="icon_star_alt"></i> 
					Contact us
					<i class="icon_star_alt"></i>
					<i class="icon_star_alt"></i>
					<i class="icon_star_alt"></i>
				</h4>
				
			</div>
			<div class="offset-2 col-md-8 col-sm-8  col-xs-12">
				<form method="post" asp-action="RenderContactUs" enctype="multipart/form-data" class="form-horizontal">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="form-group">
								<input type="text" name="Name" value="" id="input-name" class="form-control" placeholder="Name *" required/>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="form-group">
								<input type="text" name="Email" value="" id="input-email" class="form-control" placeholder="Email *" required/>
							</div>
						</div>
					</div>
					<div class="row">						
						<div class="col-sm-12 col-md-12 col-xs-12">
							<div class="form-group">
								<i class="icofont icofont-pencil-alt-5"></i>
								<textarea name="YourComment" id="input-enquiry" class="form-control" placeholder="Your Comment"></textarea>
							</div>
						</div>
					</div>
					<div class="buttons text-right">
						<input class="btn btn-primary" type="submit" value="Send Message" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- contactus end here -->