<html>
<head>
    <meta name="viewport" content="with=device-with" />
    <link href="~/lib/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>
    <style>
        .khung {
            margin: auto;
            max-width: 500px;
            min-height: 300px;
            border: 0px solid #000000;
            margin-top:5px;
            padding:50px;
        }
    </style>
</head>
    <body>
    
        <div class="khung">
            <h1 class="text-center">Sign In</h1>
            <form method="post" asp-action="login">
                <div class="form-group">
                    <label>UserName:</label>
                    <input type="text" name="username" required class="form-control" />
                </div>
                <div class="form-group">
                    <label>Pasword:</label>
                    <input type="password" name="password"  required class="form-control" />
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-secondary ">Sign In</button>
                </div>
            </form>

           <div class="form-group">
                @ViewBag.Eror
           </div>

        </div>
   
    </body>
</html>
